<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Photo-Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <header>
    <ion-toolbar class="title" >
      <span class="text"><br>National Parks</span>
    </ion-toolbar>
</header>
<ion-grid>
  <ion-row>
    <ion-col size-lg='3' size-md='12' size-sm='12' size='12' *ngFor='let photo of photos'>
      <ion-card id="photo_{{photo.id}}">
        <img src="{{photo.route}}"/>
      </ion-card>
      <p class="piedefoto">{{photo.title}}</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
