<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="contenedor">
  <div class="main">
    <p id="titulo">Loose in the Sky!</p>
    <img src="assets/edificios.jpg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate quam ad eveniet laudantium illo quae, omnis ut tenetur obcaecati? Cum alias doloribus repellat voluptate eos dolores reprehenderit expedita laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="comments">
    <p class="titulo">Comments:</p>
    <p class="comentarios"><strong>Katy</strong> 25/04/2019 15:26</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat a ex laboriosam sequi, maiores alias iusto vero tempora? Fuga odit perferendis dicta eum aut facilis totam! Quos culpa debitis ad?</p>
    <p class="comentarios"><strong>Salomon  </strong> 25/04/2019 17:26</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat a ex laboriosam sequi, maiores alias iusto vero tempora? Fuga odit perferendis dicta eum aut facilis totam! Quos culpa debitis ad?</p>
    <p class="comentarios"><strong>Bondary</strong> 26/04/2019 16:26</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat a ex laboriosam sequi, maiores alias iusto vero tempora? Fuga odit perferendis dicta eum aut facilis totam! Quos culpa debitis ad?</p>
    <div class="formulario">
      <form action="">
        <div>
          <p class="add">Add your comment</p>
        </div>
        <p>Name:</p>
        <input type="text">
        <p>Description:</p>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <br>
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>
</ion-card>
</ion-content>
